## My Jupyter Notebook on IBM Watson Studio

**Iina T**

My desired occupation is a data scientist.

*I am interested in the data science as it combines my past skills and knowledge (e.g., data analysis, data visualisation), but at the same time, data science also challenges me in new ways (e.g., programming with Python, R, and SQL). I am also interested in data science as it seems to be a field that grows in importance as time passes.*

### In the code below, I will show some basic arithmetics that can be done in the Python language. This is some of the basic knowledge that is taught for the first time Python users.

In [1]:
 1 + 1

2

In [4]:
20 - 15

5

In [2]:
5 * 2

10

In [3]:
10 / 2

5.0

During this course, I have learned the following things:
---

<ol>
<li>How to define a data scientist</li>
<li>What is data science</li>
<li>What is Python Jupyter.</li>
</ol>

<blockquote>These have been the very basics, and I'm eager to try more hands-on exercises. For example, like this one where I need to create a table for this Jupyter Notebook.</blockquote>

|Country|Happiness Score|Population (millions)|
|-----|-------|------| 
|Finland|94|5|
|Sweden|90|11|
|Denmark|92|5|